/* reset browser */
* {
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: antiquewhite;
}

section.main {
  background-color: yellow;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .logo-img {
  margin-left: 20px;
  margin-top: 5px;
}
.header .logo-img img {
  width: 30px;
}

.header .user-wrapper {
  margin: 10px;
}

/* menu */
.menu .menu-item {
  display: inline-block;
  padding: 10px;
}

.menu .menu-item a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu .menu-item:hover {
  background-color: burlywood;
}

/* sub-menu */

.menu .menu-item {
  position: relative;
}

.menu .menu-item .sub-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 32px;
}

/* noted */
.menu .menu-item:hover .sub-menu {
  display: block;
}
/* style for sub-menu */
.menu .menu-item .sub-menu {
  background-color: burlywood;
  width: 200px;
  list-style-type: none;
}

.menu .menu-item .sub-menu .sub-menu-item a {
  display: inline-block;
  padding: 10px;
}
.menu .menu-item .sub-menu .sub-menu-item:hover {
  background-color: antiquewhite;
}
